<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme{
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl:1920px;
    --color-primary:#875cf5;
}

@layer base{
    html{
        font-family: var(--font-display);
    }
    body{
        background-color: rgb(245 243 255);
        overflow-x: hidden;
    }
}

.c {
    background-color: #F8F2FE;
}

.bg-custom-purple-button{
    background-color: #8e24aa;
}

.text-custom-purple{
    color: #8e24aa;
}

.text-custom-navBar-purple{
    color: #AA00FF;
}


=======
@import "tailwindcss";
>>>>>>> parent of 8a14ec9 (NavBar color theme modification)
