@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme{
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl:1920px;
    --color-primary:#875cf5;
}

@layer base{
    html{
        font-family: var(--font-display);
    }
    body{
        background-color: rgb(245 243 255);
        overflow-x: hidden;
    }
}

.c {
    background-color: #F8F2FE;
}

.bg-custom-purple-button{
    background-color: #8e24aa;
}

.text-custom-purple{
    color: #8e24aa;
}

.text-custom-navBar-purple{
    color: #AA00FF;
}


/* src/styles/BudgetPage.css */

.budget-page {
    padding: 20px;
}

.add-budget {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.add-budget input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

.add-budget button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-budget button:hover {
    background-color: #574bff;
}

.budget-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.budget-item {
    background-color: #f3f4f6;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.budget-info span {
    margin-right: 10px;
}

.budget-actions button {
    padding: 5px 10px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.budget-actions button:hover {
    background-color: #574bff;
}
